################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task1/.vs
/Task1/Task1/bin/Debug/net7.0
/Task1/Task1/obj
